 /*
 *= require bootstrap-sass
 *= require_self
 */

 section {
 	padding-top: 25px;
 	padding-bottom: 25px;
 }

 .logo {
 	width: 150px;
 }
 .navbar-studio {
 	margin: 0;
 	border-bottom-color: gray;
 }

 .jumbotron {
 	background-color: #14AA9F;
 	h1 {
 		font-weight: bold;
 	}
 }

 .container {
 	width: 880px;
 }