	<section id="how" class="area">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h2 class="visible-xs visible-sm text-primary">&lt;Here is what you get&gt;</h2>
					<ul class="visual-list">
						<li>
							<div class="img-holder">
								<img src="images/graph-04.svg" width="110" alt="">
							</div>
							<div class="text-holder">
								<h3>Обсуждение проекта</h3>
								<p>На первом этапе мы обсуждаем с вами детали будующего проекта.
								   Учитываем пожелании и определяем функционал.</p>
							</div>
						</li>
						<li>
							<div class="img-holder">
								<img class="pull-left" src="images/graph-03.svg" width="90" alt="">
							</div>
							<div class="text-holder">
								<h3>Прототип</h3>
								<p>Определяемся с шаблоном сайта. Если в нашем магазине 
								   вы не найдете ничего нужного - обсуждаем дизайн. </p>
							</div>
						</li>
						<li>
							<div class="img-holder">
								<img src="images/graph-02.svg" height="84" alt="">
							</div>
							<div class="text-holder">
								<h3>Разработка</h3>
								<p>Наш любимый этап. Согласно установленным срокам, мы пишем код 
								  будущего проекта, верстаем и тестируем. В общем создаем сайт.</p>
							</div>
						</li>
						<li>
							<div class="img-holder">
								<img src="images/graph-01.svg" height="71" alt="">
							</div>
							<div class="text-holder">
								<h3>Демонстрация и запуск</h3>
								<p>После завершения работ, мы показываем вам результат, вносим при необходимости
								   правки и размещаем готовый проект на хостинге. Привязываем доменно имя и вручаем вам готовый сайт.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-7">
					<div class="slide-holder">
						<h2 class="hidden-xs hidden-sm text-primary">Как это выглядит</h2>
						<div class="img-slide scroll-trigger"><img src="images/img-01.png" height="624" width="1184" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</section>