	<footer id="footer">
		<div class="container">
			<div class="footer-holder">
				<div class="row">
					<div class="col-md-4">
						<div class="logo"><a href="#">Веб студия "7 утра"</a></div>
						<p>Lorem ipsum dolor sit amet, feugiat delicat<br /> liberavisse id cum no quo.</p>
					</div>
					<div class="col-md-2">
						<h4>Навигация</h4>
						<ul>
							<li><a href="#">Главная</a></li>
							<li><a href="#">Услуги</a></li>
							<li><a href="#">Цена</a></li>
							<li><a href="#">Buying Options</a></li>
							<li><a href="#">Support</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<div class="text-holder">
							<strong class="phone"><a href="tel:3475677890">89245291102</a></strong>
							<span class="available">Доступны с 7:00 - 20:00</span>
							<h4>Москва</h4>
							<address>560 Judah St &amp; 15th Ave, Apt 5 San Francisco, CA, 230903</address>
						</div>
					</div>
					<div class="col-md-3">
						<div class="text-frame">
							<h4>Info</h4>
							<p>Wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex commodo consequat. Autem vel hendrerit iriure dolor in hendrerit.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>