	<section class="main">
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="col-md-4">
						<h3>Новые проекты и работы студии</h3>
						<h4>Fully Available: Live Preview Support for Multiple Browsers</h4>
						<p>Morbi faucibus ante ipsum, a tincidunt libero posuere et. Etiam tempor tortor at odio condimentum, sit amet fringilla ligula maximus. Mauris venenatis nisl nisi, et dictum dui aliquet nec. Sed erat, nec aliquam vel, aliquam ac felis. </p>
						<h4>Improved Support for Typing </h4>
						<p>Nulla purus quam, pulvinar sed ante et, feugiat maximus velit. Donec eu elit mauris. </p>
						<h4>Improved Stability</h4>
						<p>Proin id ligula eget massa tincidunt molestie. Morbi urna lectus, molestie vel quam vel, iaculis fermentum nunc. Morbi imperdiet, leo in interdum pretium.</p>
						<div class="btn-holder">
							<a href="#" class="btn btn-link">Go to Release Log</a>
						</div>
					</div>
					<div class="col-md-4">
						<h3>Новые шаблоны из магазина студии</h3>
						<h4><a href="#">Simple</a></h4>
						<p>Чистый шаблон для одностраничных сайтов. Подходит к любой тематике</p>

						<div class="btn-holder">
							<a href="#" class="btn btn-link">Перейти в магазин шаблонов</a>
						</div>
					</div>
					<div class="col-md-4">
						<h3>Последние записи из блога</h3>
						<h4><a href="#">Как продвинуть свою компанию в интернете.</a></h4>
						<time class="date" datetime="2015-02-18">Февраль 18, 2015</time>
						<h4><a href="#">Как мы создаем сайты. Рассказываем доступным языком.</a></h4>
						<time class="date" datetime="2015-02-12">February 12, 2015</time>
						<h4><a href="#">Для чего нужно мобильное приложение.</a></h4>
						<div class="btn-holder">
							<a href="#" class="btn btn-link">Перейти в блог студии</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>