		<header id="header">
			<div class="container">
				<div class="logo"><a href="#"><img src="/images/logo.png" alt="FORKIO"></a></div>
				<nav id="nav">
					<div class="opener-holder">
						<a href="#" class="nav-opener"><span></span></a>
					</div>
					<a href="http://tympanus.net/codrops/?p=23525" class="btn btn-primary rounded">Заказать сайт</a>
					<div class="nav-drop">
						<ul>
							<li class="active visible-sm visible-xs"><a href="#">Home</a></li>
							<li><a href="#cta">О студии</a></li>
							<li><a href="#pricing">Цены на разработку</a></li>
							<li><a href="#how">Как мы работаем</a></li>
							<li><a href="#">Отзывы</a></li>
						</ul>
						<div class="drop-holder visible-sm visible-xs">
							<span>Follow Us</span>
							<ul class="social-networks">
								<li><a class="fa fa-github" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-facebook" href="#"></a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</header>