	<section  id="pricing" class="visual-container">
		<!--div class="visual-area">
			<div class="container">
				<h2>People Are Talking About Fork</h2>
				<ul class="testimonials">
					<li>
						<div class="img-holder"><a href="#"><img src="images/logo-smashing.png" height="43" width="165" alt="smashing magazine"></a></div>
						<p><em>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </em></p>
					</li>
					<li>
						<div class="img-holder"><a href="#"><img src="images/logo-codrops.png" height="50" width="148" alt="codrops"></a></div>
						<p><em>Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</em></p>
					</li>
					<li>
						<div class="img-holder"><a href="#"><img src="images/logo-w.png" height="64" width="64" alt="w"></a></div>
						<p><em>In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </em></p>
					</li>
					<li>
						<div class="img-holder"><a href="#"><img src="images/logo-pixel.png" height="24" width="225" alt="Pixel Buddha"></a></div>
						<p><em>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </em></p>
					</li>
					<li>
						<div class="img-holder"><a href=""><img src="images/logo-cb.png" height="34" width="166" alt="creative bloq"></a></div>
						<p><em>Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus. </em></p>
					</li>
					<li>
						<div class="img-holder"><a href="#"><img src="images/logo-tnw.png" height="34" width="108" alt="tnw"></a></div>
						<p><em>Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.</em></p>
					</li>
				</ul>
			</div>
			<img src="images/img-decor-02.jpg" height="764" width="1380" alt="" class="bg-stretch">
		</div-->
		<div class="visual-area">
			<div class="container">
				<h2>Цены на разработку</h2>
				<div class="pricing-tables">

		            <div class="plan">
		                <div class="head">
		                    <h3>Магазин</h3> </div>
		                <div class="price">
		                    <span class="price-main">10000<span class="symbol">р</span></span>
		                    <span class="price-additional">разовая оплата</span>
		                </div>
		                    <ul class="item-list">
		                       <li>Быстрый старт продаж в интернете</li>
		                    </ul>
		                <button type="button" class="btn btn-default rounded">заказать</button>
		            </div>
		            <div class="plan recommended">
		                <div class="head">
		                    <h3>Лендинг</h3> </div>
		                <div class="price">
		                    <span class="price-main">3300<span class="symbol">р</span></span>
		                    <span class="price-additional">разовая оплата</span>
		                </div>
		                    <ul class="item-list">
		                        <li>Админка</li>
		                        <li>3 шаблона на выбор</li>
		                        <li>Бесплатный домен на год</li>
		                    </ul>
		                <button type="button" class="btn btn-default rounded">заказать</button>
		            </div>
		            <div class="plan">
		                <div class="head">
		                    <h3>Стартап</h3> </div>
		                <div class="price">
		                    <span class="price-main"><span class="symbol">от</span>15000<span class="symbol">р</span></span>
		                    <span class="price-additional">разовая оплата</span>
		                </div>
		                <ul class="item-list">
		                    <li>Любая идея. Сервис или мобильное предложение. Пишите - обсудим</li>
		                </ul>
		                <button type="button" class="btn btn-default rounded">Отправить заявку</button>
		            </div>
				</div>
				<p class="silent"></p>
			</div>
			<img src="images/img-decor-03.jpg" height="1175" width="1380" alt="" class="bg-stretch">
		</div>
	</section>