	<section class="area">
		<div class="container">
			<div class="subscribe">
				<h3>Подписка на новости студии</h3>
				<form class="form-inline">
					<button type="submit" class="btn btn-primary rounded">Подписаться</button>
					<div class="form-group">
						<input type="email" class="form-control rounded" id="exampleInputEmail2" placeholder="Email...">
					</div>
				</form>
			</div>
		</div>
	</section>