	<section class="main">
		<div class="container">
			<div class="block-holder">
				<div class="block-frame">
					<div class="cycle-gallery">
						<div class="mask">
							<div class="slideset">
								<div class="slide">
									<div class="img-box">
										<div class="img-holder"><img src="images/user-01.jpg" height="85" width="85" alt=""></div>
										<div class="text-holder">
											<h3>Роман</h3>
										</div>
									</div>
									<p>Выражаю благодарность студии "7 утра" за 
									   професcионализм, внимание к деталям и быструю работу.</p>
									<em class="date">Компания "Галант"</em>
								</div>
								<div class="slide">
									<div class="img-box">
										<div class="img-holder"><img src="images/user-02.jpg" height="85" width="85" alt=""></div>
										<div class="text-holder">
											<h3>Надежда</h3>
										</div>
									</div>
									<p>Заказали в студии разработку магазина бижутерии и продвижение в социальных
									   сетях. Сайт сделали быстро и качественно. Спасибо!</p>
									<em class="date">МурШоп</em>
								</div>
							</div>
						</div>
						<a class="btn-prev" href="#"><i class="glyphicon glyphicon-menu-left"></i></a>
						<a class="btn-next" href="#"><i class="glyphicon glyphicon-menu-right"></i></a>
					</div>
				</div>
				<div class="block-frame">
					<ul class="cta-list">
						<li>
							<a href="#" class="btn btn-default"><i class="fa fa-github"></i> GitHub</a>
							<p>Выкладываем исходные коды</p>
						</li>
						<li>
							<a href="#" class="btn btn-info"><i class="fa fa-twitter"></i> Twitter</a>
							<p>Пишем интересные заметки</p>
						</li>
						<li>
							<a href="#" class="btn btn-blue"><i class="fa fa-facebook"></i> Facebook</a>
							<p>Страница в соц. сети</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>