- provide(:title, 'Landing' )

= render 'landing/nav' 
= render 'landing/header' 
= render 'landing/hello'
= render 'landing/price' 
= render 'landing/features' 
= render 'landing/testmonials' 
= render 'landing/subscribe'
<!-- = render 'landing/latest' --> 
= render 'landing/footer' 

