---
title: Веб студия "7 утра" - Создание сайтов от 70$ - Лендинги, интернет - магазины, веб приложения
---


<div class="j-home jumbotron">
  <div class="container">
     <div class="row">

	    <div class="col-lg-10">
	      <h1>Верстаем лендинги. Делаем сайты и приложения</h1>
        </div>

     	<div class="col-lg-2">
        </div>

    </div>
  </div>
</div>


<div class="linza">
 <div class="call_to_action">
  <a href="/portfolio" class="btn btn-lg btn-danger">Посмотрите, что мы наделали</a>
 </div>
</div>

  



<div class="container content">
  <div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-10">
		  <% page_articles.each_with_index do |article, i| %>
			  <h2><%= link_to article.title, article %> 
			  <small><%= article.date.strftime('%e %b') %></small></h3>
			  <%= article.summary(140, '...') %>
			  <%= link_to 'Читать', article, class: 'btn btn-primary btn-xs' %>
			  <hr>
		  <% end %>
		</div>
   </div>
</div>
