---
title: Веб студия "7 утра" - Создание сайтов от 70$ - Лендинги, интернет - магазины, веб приложения
---


<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--img src="/images/logo.jpg" class="logo"-->
	    <h2>Лендинги, магазины и веб приложения</h2>
	    <!--a href="/" class="btn btn-danger">Заказать сайт</a-->
	   </div>
	  </div>
  </div>
</div>

<div class="container">
<div class="row">
<div class="col-lg-6">

<div ng-controller="PostsCtrl">
    <div ng-repeat="post in posts">
      <h4><a>{{post.title}}</a></h4>
      <p ng-bind-html="post.body | unsafe"></p>
	  <hr>
    </div>
</div> 

</div>
<div class="col-lg-6">
   <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/permalink.php?story_fbid=1073823642633849&amp;id=907632075919674" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/permalink.php?story_fbid=1073823642633849&amp;id=907632075919674"><p>http://7-am.ru/</p>Posted by <a href="https://www.facebook.com/pages/%D0%A1%D0%B5%D0%BC%D1%8C-%D1%83%D1%82%D1%80%D0%B0/907632075919674">Семь утра</a> on <a href="https://www.facebook.com/permalink.php?story_fbid=1073823642633849&amp;id=907632075919674">1 Май 2015 г.</a></blockquote></div></div>
</div>
</div>
</div>


<!--section id="features">
	<div class="container">
	  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	 </div>
</section-->