---
title: Портфолио - Веб студия "7 утра" - Создание сайтов от 70$ - Лендинги, интернет - магазины, веб приложения
---

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--img src="/images/logo.jpg" class="logo"-->
	    <h1>Портфолио</h1>
	    <!--a href="/" class="btn btn-danger">Заказать сайт</a-->
	   </div>
	  </div>
  </div>
</div>

       <% data.works.each do |w| %>

		<h3><%= w.name %></h3>

        <% end %>



