---
title: Магазин готовых сайтов - Веб студия "7 утра" - Создание сайтов от 70$ - Лендинги, интернет - магазины, веб приложения
---

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--img src="/images/logo.jpg" class="logo"-->
	    <h2>Магазин готовых сайтов</h2>
	    <a href="/about">Подробнее</a>
	    <!--a href="/" class="btn btn-danger">Заказать сайт</a-->
	   </div>
	  </div>
  </div>
</div>


<div class="container">
  <div class="row">
      <div class="col-lg-3 col-md-3 hidden-sm">
        <div class="panel">
        <div class="list-group menu">
         <a href="/" class="list-group-item"><i class="fa fa-circle-o"></i> Магазины</a>
         <a href="/" class="list-group-item"><i class="fa fa-circle-o"></i> Лендинги</a>
         <a href="/" class="list-group-item"><i class="fa fa-circle-o"></i> Веб приложения</a>
         <a href="/" class="list-group-item"><i class="fa fa-circle-o"></i> Android</a>
         <a href="/" class="list-group-item"><i class="fa fa-circle-o"></i> iOS</a>
        </div>
        </div>
  	 </div>

    <div class="col-lg-9 col-sm-12">

     <div class="visible-sm">
        <ul class="nav nav-tabs">
         <li><a href="/" ><i class="fa fa-circle-o"></i> Магазины</a></li>
         <li><a href="/" ><i class="fa fa-circle-o"></i> Лендинги</a></li>
         <li><a href="/" ><i class="fa fa-circle-o"></i> Веб приложения</a></li>
         <li><a href="/" ><i class="fa fa-circle-o"></i> Android</a></li>
         <li><a href="/" ><i class="fa fa-circle-o"></i> iOS</a></li>
         </ul>
         <br>
     </div>
     <div class="row">
   	 <div class="col-lg-3 col-sm-3">
      <a href="/"><img src="http://placehold.it/300x300" class="img-responsive img-rounded"></a>
  	 </div>
       <div class="col-lg-3 col-sm-3">
      <a href="/"><img src="http://placehold.it/300x300" class="img-responsive img-rounded"></a>
     </div>
           <div class="col-lg-3 col-sm-3">
      <a href="/"><img src="http://placehold.it/300x300" class="img-responsive img-rounded"></a>
     </div>
           <div class="col-lg-3 col-sm-3">
      <a href="/"><img src="http://placehold.it/300x300" class="img-responsive img-rounded"></a>
     </div>
       <div class="col-lg-3 col-sm-3">
      <a href="/"><img src="http://placehold.it/300x300" class="img-responsive img-rounded"></a>
     </div>
      <div class="col-lg-3 col-sm-3">
      <a href="/"><img src="http://placehold.it/300x300" class="img-responsive img-rounded"></a>
     </div>
     </div>
     </div>
  </div>
</div>


